@using Microsoft.AspNetCore.Components

<div>
    <label for="@Id">@Label</label>
    <input type="@Type" value="@Value" @oninput="OnInput" placeholder="@Placeholder" id="@Id" />
</div>

@code {
    [Parameter]
    public string Label { get; set; } = "Label";

    [Parameter]
    public string Value { get; set; } = string.Empty;

    [Parameter]
    public EventCallback<string> ValueChanged { get; set; }

    [Parameter]
    public string Placeholder { get; set; } = "Enter value";

    [Parameter]
    public string Type { get; set; } = "text";

    [Parameter]
    public string Id { get; set; } = "input";

    private Task OnInput(ChangeEventArgs e)
    {
        if (e is null)
            throw new ArgumentNullException(nameof(e));

        Value = e.Value.ToString();
        return ValueChanged.InvokeAsync(Value);
    }
}
