@using Microsoft.AspNetCore.Components

<div> 
    <label for="@Id">@Label<i class="@Icon"></i></label>
    <input type="@Type" value="@Value" @oninput="OnInput" placeholder="@Placeholder" id="@Id" />
</div>

<style>
    input {
        display: block;
        height: 60px;
        width: 100%;
        background-color: rgba(255,255,255,0.07);
        border-radius: 3px;
        padding: 0 10px;
        margin-bottom: 25px;
        margin-top: 10px;
        font-size: 16px;
        font-weight: 300;
    }

    ::placeholder {
        color: #e5e5e5;
    }

</style>


@code {
    [Parameter]
    public string Label { get; set; } = "Label"; //This is the text that will be displayed

    [Parameter]
    public string Value { get; set; } = string.Empty; //This is the value of the input

    [Parameter]
    public EventCallback<string> ValueChanged { get; set; } //This is the event that will be called when the value changes

    [Parameter]
    public string Placeholder { get; set; } = "Enter value"; //This is the placeholder text

    [Parameter]
    public string Type { get; set; } = "text"; //This is the type of input

    [Parameter]
    public string Icon { get; set; } = "text"; //This is the type of input

    [Parameter]
    public string Id { get; set; } = "input"; //This is the id of the input

    private Task OnInput(ChangeEventArgs e) 
    {
        if (e is null)
            throw new ArgumentNullException(nameof(e));

        Value = e.Value.ToString();
        return ValueChanged.InvokeAsync(Value);
    }
}
