@* <CascadingAuthenticationState>
 *@    
 <Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>
@* </CascadingAuthenticationState>
 *@


 @*
     Note:
     Replaced <FocusOnNavigate> with <RouteView>: The <RouteView> component renders the component associated with the route specified in the RouteData.
    Updated AppAssembly to @typeof(Program).Assembly: This ensures that the router knows where to find the components for routing. Ensure that Program.cs is present in the root namespace and assembly of your application.
 *@